@page "/lobby"

<h3 class="font-weight-bolder m-3 align-self-center">Lobby</h3>

@if (_isWaiting) {
    if (string.IsNullOrWhiteSpace(_invitationDetails.NicknameFrom)) {
        <h5 class="align-self-center">Waiting for response from @_invitationDetails.NicknameTo</h5>
    } else {
        <h5 class="align-self-center">Game invitaion from @_invitationDetails.NicknameFrom</h5>
    }
    <p class="align-self-center text-muted m-3">Time to auto cancel: @_timer</p>
    <hr />

    <div class="card align-self-center m-3">
        <div class="card-body">
            <h5 class="card-title">Game details</h5>
            <p class="card-text">Board size: @GameSettings.FormatBoardEnum(_invitationDetails.GameSettings.BoardSize)</p>
            <p class="card-text">Card type: @_invitationDetails.GameSettings.CardBack.Type</p>
            @if (_invitationDetails.GameSettings.CardBack.Type == CardType.Color) {
                <p class="card-text">@_invitationDetails.GameSettings.CardBack.Source</p>
            } else {
                <img src="@_invitationDetails.GameSettings.CardBack.Source" alt="Card preview" width="75" height="125" />
            }
        </div>
    </div>

    <div class="btn-group m-3" role="group">
        @if (!string.IsNullOrWhiteSpace(_invitationDetails.NicknameFrom)) {
            <button type="button" class="btn btn-success" @onclick="AcceptInvitation">Confirm</button>
            <button type="button" class="btn btn-warning" @onclick="@(async() => await CancelInvitation(true))">Reject</button>
        } else {
            <button type="button" class="btn btn-info" @onclick="@(async() => await CancelInvitation())">Cancel</button>
        }
    </div>

} else {
    <ul class="list-group w-25 align-self-center m-3 text-center">
        @foreach (var user in _onlineUsers) {
            <li class="list-group-item clickable user-select" @onclick="@(async () => await HandleInvitation(user))">
                <p>@user.Nickname</p>
                <p>@user.Status</p>
            </li>
        }
    </ul>
}