@page "/pexeso"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<PlayerBoardInfo Me="@_me"
                 Opponent="_opponent"
                 OnTheMove="_onTheMove"
                 IsTimeout="_isTimeout"
                 Timeout="_timeout"/>

@if (_board != null) {
    <table class="table-top">
        @for (int i = 0; i < _board._height; i++) {
            var indexI = i;
            <tr>
                @for (int j = 0; j < _board._width; j++) {
                    var indexJ = j;
                    <td>
                        <div class="@(_board[i,j].IsFlipped ? "card-container flip" : "card-container")" @onclick="@(async () => await HandleCardSelect(indexI, indexJ))">
                            <div class="@(_gameSettings.CardBack.Type == CardType.Picture ? "card-pexeso img" : "card-pexeso")"
                                 style="@(_gameSettings.CardBack.Type == CardType.Picture ?
                                          $"background-image: url({_gameSettings.CardBack.Source});"
                                          : $"background-color: {_gameSettings.CardBack.Source};")">
                                <div class="front face"></div>
                                <div class="back face text-center pagination-center">
                                    <i class="@_board[i, j].Data"></i>
                                </div>
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </table>
}

<div class="input-group m-3 align-self-center w-75">
    <input type="text" class="form-control" placeholder="Message text..." @bind-value="@_messageText">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" @onclick="HandleSendMessage">Send</button>
    </div>
</div>

<ul class="list-group list-group-flush align-self-center m-3">
    @foreach (var message in _messages)
	{
        <li class="list-group-item">@message.Nickname: @message.Text</li>
	}
</ul>
